name: PR to Discord

on:
  pull_request:
    types: [opened, reopened, closed]

jobs:
  notify:
    runs-on: ubuntu-latest
    steps:
      - name: Send to Discord
        uses: actions/github-script@v7
        env:
          WEBHOOK_URL: "https://discord.com/api/webhooks/1439144660122734655/FJVXtvHvvdfPYA5EzjlwUzxRIe1das_-3-YSlEoy0IcN20Z4Em7T-6UbCxX96ifzW0Oe/github"
        with:
          script: |
            const webhook = process.env.WEBHOOK_URL;
            const action = context.payload.action;
            const pr = context.payload.pull_request;
            const user = pr.user;
            const url = pr.html_url;
            const merged = pr.merged;

            let msg = '';
            let color = 0;

            if (action === 'opened') {
              msg = `New PR Created`;
              color = 3447003; // Blue
            } else if (action === 'reopened') {
              msg = `PR Reopened!`;
              color = 10181046; // Purple
            } else if (action === 'closed' && merged) {
              msg = `PR Merged!`;
              color = 5763719; // Green
            } else if (action === 'closed') {
              msg = `PR Closed (not merged)`;
              color = 15158332; // Red
            } else {
              return; // Ignore other actions
            }

            const body = {
              username: user.login,
              avatar_url: user.avatar_url,
              content: msg,
              embeds: [{
                title: pr.title,
                url: url,
                color: color,
                fields: [
                  {name: `Base`,
                  value: pr.base.ref,
                  url: pr.base.repo.url,
                  inline : true
                  },
                  {name: `<---`,
                  inline : true
                  },
                  {name: `Compare`,
                  value: pr.head.ref,
                  url: pr.head.repo.url,
                  inline : true
                  }
                ],
                timestamp: new Date().toISOString()
              }]
            };

            const res = await fetch(webhook, {
              method: 'POST',
              headers: { 'Content-Type': 'application/json' },
              body: JSON.stringify(body)
            });

            console.log(res.status)